In [1]:
import pandas as pd
from datetime import datetime, timedelta
import gc

In [2]:
gc.collect()

0

In [3]:
# read whole raw data

df0 = pd.read_excel("in/data0.xlsx", skiprows=3, skipfooter=1)
df1 = pd.read_excel("in/data1.xlsx", skiprows=3, skipfooter=1)
df2 = pd.read_excel("in/data2.xlsx", skiprows=3, skipfooter=1)
df3 = pd.read_excel("in/data3.xlsx", skiprows=3, skipfooter=1)

raw_df = df0.append(df1).append(df2).append(df3)
raw_df = raw_df.reset_index()
del raw_df['index']
del raw_df['Unnamed: 0']

raw_df.tail(2)

,Дата рейса,Рейс,Тип рейса,Статус,Время получения сообщения об отмене,Полных часов от отмены до отправления,Оперативная отмена,А/П отправл,Терминал приписки (отправл),Терминал отправл,...,"1 КЗ Длит (приб), мин.",1 КЗ Код (приб),1 КЗ Служба (приб),1 КЗ Комментарий (приб),"Прибыт раньше расписан, мин.","Прибыт позже расписан, мин.",Пассажиры факт J,Пассажиры факт W,Пассажиры факт Y,Пассажиры факт Всего
684558,2018-09-03,SU1408,Регулярный,Scheduled,NaT,NaN,NaN,SVO,B,B,...,NaN,NaN,NaN,NaN,NaN,0:30,7,0,123,130
684559,2018-09-02,SU1773,Регулярный,Scheduled,NaT,NaN,NaN,AER,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,46:53,0,0,0,0

In [4]:
# read data with dynamic statistics 

stat_cols = ['Departure_schedule_time',
             'Jet_ID',
             'last_moth_class_count_0', 
             'last_moth_class_count_1',
       'last_moth_class_count_2', 'last_moth_class_count_3',
       'last_moth_class_count_4', 'last_year_by_class_count_0',
       'last_year_by_class_count_1', 'last_year_by_class_count_2',
       'last_year_by_class_count_3', 'last_year_by_class_count_4',
       'last_year_that_month_by_class_count_0',
       'last_year_that_month_by_class_count_1',
       'last_year_that_month_by_class_count_2',
       'last_year_that_month_by_class_count_3',
       'last_year_that_month_by_class_count_4']
             
statistic_df = pd.read_csv('out/at_most_all_only_for_Stanislav.csv')[stat_cols]
statistic_df['Departure_schedule_time'] = pd.to_datetime(statistic_df['Departure_schedule_time'])
statistic_df.tail(2)

,Departure_schedule_time,Jet_ID,last_moth_class_count_0,last_moth_class_count_1,last_moth_class_count_2,last_moth_class_count_3,last_moth_class_count_4,last_year_by_class_count_0,last_year_by_class_count_1,last_year_by_class_count_2,last_year_by_class_count_3,last_year_by_class_count_4,last_year_that_month_by_class_count_0,last_year_that_month_by_class_count_1,last_year_that_month_by_class_count_2,last_year_that_month_by_class_count_3,last_year_that_month_by_class_count_4
677623,2018-09-03 23:50:00,VPBMM,28,1,1,0,0,273,67,16,6,1,8,17,4,1,0
677624,2018-09-02 16:00:00,VPBRF,1,1,0,0,0,1,38,0,0,0,3,0,0,0,0

In [20]:
# select meaningful columns

model_cols = [u'Дата рейса', u'Рейс', u'Тип рейса',
            u'Статус', u'А/П отправл',
            u'А/П прибыт', u'Тип ВС', u'Номер ВС',
            u'Время отправления по расписанию', 
            u'Время отправления фактическое',
            u'Время прибытия по расписанию'
            ]

model_df = raw_df[model_cols]
model_df['delay'] = model_df[u'Время отправления фактическое'] - model_df[u'Время отправления по расписанию']

/home/innodata/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [21]:
min_0 = timedelta(minutes=0)
min_15 = timedelta(minutes=15) 
min_60 = timedelta(minutes=60)
min_120 = timedelta(minutes=120)

def getClass(delta):
    if(delta <= min_0): return 0
    if(delta <= min_15): return 1
    if(delta <= min_60): return 2
    if(delta <= min_120): return 3
    return 4

model_df['label'] = model_df.delay.apply(getClass)
model_df = model_df.dropna()
model_df.head(2)

/home/innodata/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

,Дата рейса,Рейс,Тип рейса,Статус,А/П отправл,А/П прибыт,Тип ВС,Номер ВС,Время отправления по расписанию,Время отправления фактическое,Время прибытия по расписанию,delay,label
0,2015-10-27,SU150,Регулярный,Scheduled,SVO,HAV,332,VPBLY,2015-10-27 07:40:00,2015-10-27 07:36:00,2015-10-27 20:45:00,-1 days +23:56:00,0
1,2015-10-27,SU100,Регулярный,Scheduled,SVO,JFK,333,VQBMX,2015-10-27 09:50:00,2015-10-27 09:52:00,2015-10-27 20:35:00,00:02:00,1

In [22]:
# take dataset since 2017

start_date = datetime(2017, 1,1,0,0,0)

model_df = model_df[model_df[u'Дата рейса'] > start_date]
statistic_df = statistic_df[statistic_df['Departure_schedule_time'] > start_date]
print(model_df.count())
print(statistic_df.count())

Дата рейса                         421798
Рейс                               421798
Тип рейса                          421798
Статус                             421798
А/П отправл                        421798
А/П прибыт                         421798
Тип ВС                             421798
Номер ВС                           421798
Время отправления по расписанию    421798
Время отправления фактическое      421798
Время прибытия по расписанию       421798
delay                              421798
label                              421798
dtype: int64
Departure_schedule_time                  422086
Jet_ID                                   422086
last_moth_class_count_0                  422086
last_moth_class_count_1                  422086
last_moth_class_count_2                  422086
last_moth_class_count_3                  422086
last_moth_class_count_4                  422086
last_year_by_class_count_0               422086
last_year_by_class_count_1               422086
last_year_by_class_count_2               422086
last_year_by_class_count_3               422086
last_year_by_class_count_4               422086
last_year_that_month_by_class_count_0    422086
last_year_that_month_by_class_count_1    422086
last_year_that_month_by_class_count_2    422086
last_year_that_month_by_class_count_3    422086
last_year_that_month_by_class_count_4    422086
dtype: int64

In [23]:
# merge model_df with statistic_df

df = pd.merge(model_df, statistic_df,  how='left',
              left_on=[u'Номер ВС', u'Время отправления по расписанию'],
              right_on=['Jet_ID', 'Departure_schedule_time'])
df = df.dropna()

In [24]:
df.columns

Index([                           u'Дата рейса',
                                        u'Рейс',
                                   u'Тип рейса',
                                      u'Статус',
                                 u'А/П отправл',
                                  u'А/П прибыт',
                                      u'Тип ВС',
                                    u'Номер ВС',
             u'Время отправления по расписанию',
               u'Время отправления фактическое',
                u'Время прибытия по расписанию',
                                       u'delay',
                                       u'label',
                     u'Departure_schedule_time',
                                      u'Jet_ID',
                     u'last_moth_class_count_0',
                     u'last_moth_class_count_1',
                     u'last_moth_class_count_2',
                     u'last_moth_class_count_3',
                     u'last_moth_class_count_4',
                  u'last_year_by_class_count_0',
                  u'last_year_by_class_count_1',
                  u'last_year_by_class_count_2',
                  u'last_year_by_class_count_3',
                  u'last_year_by_class_count_4',
       u'last_year_that_month_by_class_count_0',
       u'last_year_that_month_by_class_count_1',
       u'last_year_that_month_by_class_count_2',
       u'last_year_that_month_by_class_count_3',
       u'last_year_that_month_by_class_count_4'],
      dtype='object')

In [25]:
# extract date and time features

def get_parsed_data(time):
    parsed = datetime.strptime(str(time), "%Y-%m-%d %H:%M:%S") 
    return parsed.month, parsed.day, parsed.hour, parsed.weekday()

df['month_d'], df['day_d'], df['Hour_d'], df['weekday_d'] = \
    zip(*df[u'Время отправления по расписанию'].apply(get_parsed_data))

df['month_a'], df['day_a'], df['Hour_a'], df['weekday_a']  = \
    zip(*df[u'Время прибытия по расписанию'].apply(get_parsed_data))

In [26]:
# fuck russian letters!

df['Flight'] = df[u'Рейс']
df['Flight_type'] = df[u'Тип рейса']
df['airport_dep'] = df[u'А/П отправл']
df['airport_arr'] = df[u'А/П прибыт']
df['Jet_type'] = df[u'Тип ВС']

In [27]:
# delete excessive and duplicate columns

del df[u'Дата рейса']
del df[u'Статус']
del df[u'Номер ВС']
del df['delay']
del df[u'Время отправления по расписанию']
del df[u'Время отправления фактическое']
del df[u'Время прибытия по расписанию']
del df[u'Departure_schedule_time']

del df[u'Рейс']
del df[u'Тип рейса']
del df[u'А/П отправл']
del df[u'А/П прибыт']
del df[u'Тип ВС']

In [28]:
df.head(2)

,label,Jet_ID,last_moth_class_count_0,last_moth_class_count_1,last_moth_class_count_2,last_moth_class_count_3,last_moth_class_count_4,last_year_by_class_count_0,last_year_by_class_count_1,last_year_by_class_count_2,...,weekday_d,month_a,day_a,Hour_a,weekday_a,Flight,Flight_type,airport_dep,airport_arr,Jet_type
0,0,VPBRZ,18.0,4.0,4.0,0.0,0.0,262.0,73.0,14.0,...,0,1,2,3,0,SU2305,Регулярный,FRA,SVO,320
1,1,VQBNS,5.0,24.0,1.0,0.0,0.0,148.0,161.0,42.0,...,0,1,2,4,0,SU1482,Регулярный,SVO,KJA,333

In [29]:
df.columns

Index([u'label', u'Jet_ID', u'last_moth_class_count_0',
       u'last_moth_class_count_1', u'last_moth_class_count_2',
       u'last_moth_class_count_3', u'last_moth_class_count_4',
       u'last_year_by_class_count_0', u'last_year_by_class_count_1',
       u'last_year_by_class_count_2', u'last_year_by_class_count_3',
       u'last_year_by_class_count_4', u'last_year_that_month_by_class_count_0',
       u'last_year_that_month_by_class_count_1',
       u'last_year_that_month_by_class_count_2',
       u'last_year_that_month_by_class_count_3',
       u'last_year_that_month_by_class_count_4', u'month_d', u'day_d',
       u'Hour_d', u'weekday_d', u'month_a', u'day_a', u'Hour_a', u'weekday_a',
       u'Flight', u'Flight_type', u'airport_dep', u'airport_arr', u'Jet_type'],
      dtype='object')

In [30]:
# encode categorical features

features_to_code = ['Flight',
                    'Flight_type', 
                    'airport_dep', 
                    'airport_arr', 
                    'Jet_type', 
                    'Jet_ID']


def encodeColumn(col):
    values = col.unique()
    d = {}
    for i in range(values.shape[0]):
        d.update({values[i]: i})
    
    def replaceValues(value):
        return d[value]
    
    return col.apply(replaceValues)

In [31]:
# simple encoding for trees
for col in features_to_code:
    df[col] = encodeColumn(df[col])

## hard one hot
# df = pd.get_dummies(df, columns=features_to_code)

In [32]:
df.tail(2)

,label,Jet_ID,last_moth_class_count_0,last_moth_class_count_1,last_moth_class_count_2,last_moth_class_count_3,last_moth_class_count_4,last_year_by_class_count_0,last_year_by_class_count_1,last_year_by_class_count_2,...,weekday_d,month_a,day_a,Hour_a,weekday_a,Flight,Flight_type,airport_dep,airport_arr,Jet_type
421816,2,184,28.0,1.0,1.0,0.0,0.0,273.0,67.0,16.0,...,0,9,4,2,1,7,0,1,5,2
421817,4,2,1.0,1.0,0.0,0.0,0.0,1.0,38.0,0.0,...,6,9,2,18,6,669,0,31,0,2

In [33]:
# polynomial columns

columns = ['Flight',
           'Flight_type',
           'airport_dep',
           'airport_arr',
           'Jet_type',
           'Jet_ID',
           'month_d',
           'day_d',
           'Hour_d',
           'weekday_d',
           'month_a',
           'day_a',
           'Hour_a',
           'weekday_a']


processed = []
polynomial_features = []

for col1 in columns:
    for col2 in columns:
        if col2 not in processed and col1 != col2:
            name = str(col1+'---'+col2)
            polynomial_features.append(name)
            df[name] = df[col1].astype(str) + '___' + df[col2].astype(str)
            processed.append(col1)


more_features_to_code = features_to_code + polynomial_features

In [34]:
## simple encoding of polynomial features

for col in polynomial_features:
    df[col] = encodeColumn(df[col])

In [ ]:
# hard one hot
for col in more_features_to_code:
    df = pd.get_dummies(df, columns=[col])

KeyboardInterrupt:

In [38]:
df.tail(2)

,label,Jet_ID,last_moth_class_count_0,last_moth_class_count_1,last_moth_class_count_2,last_moth_class_count_3,last_moth_class_count_4,last_year_by_class_count_0,last_year_by_class_count_1,last_year_by_class_count_2,...,weekday_d---month_a,weekday_d---day_a,weekday_d---Hour_a,weekday_d---weekday_a,month_a---day_a,month_a---Hour_a,month_a---weekday_a,day_a---Hour_a,day_a---weekday_a,Hour_a---weekday_a
421816,2,184,28.0,1.0,1.0,0.0,0.0,273.0,67.0,16.0,...,60,126,3,1,245,200,60,50,64,27
421817,4,2,1.0,1.0,0.0,0.0,0.0,1.0,38.0,0.0,...,59,124,161,12,243,211,58,17,62,161

In [25]:
features = [col for col in df.columns] # if col not in ['label'] ]

dataset = df[features]
labels = df['label']

## Model

In [26]:
import numpy as np
from sklearn.model_selection import train_test_split

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
import xgboost

from sklearn.metrics import classification_report, confusion_matrix, mean_absolute_error

In [39]:
# force garbage collector
gc.collect()

528

In [28]:
X_train, X_test, y_train, y_test = train_test_split(dataset, labels, test_size=0.2, random_state=64)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((337351, 121), (84338, 121), (337351,), (84338,))

In [29]:
def balance(data):
    factor = 2

    counts = []
    classes = data.label.unique()

    for cl in classes:
        counts.append(data[data.label == cl].count()[0])

    minimal = min(counts)
    print(minimal)

    dataset1 = pd.DataFrame()
    for cl in classes:
        d = data[data.label == cl].sample(int(factor*minimal), replace=True)
        dataset1 = dataset1.append(d)
    
    dataset1 = dataset1.sample(frac=1).reset_index(drop=True)

    return dataset1, dataset1['label']

X_train, y_train = balance(X_train)
X_test, y_test = balance(X_test)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

5142
1264

((51420, 121), (12640, 121), (51420,), (12640,))

In [30]:
del X_train['label']
del X_test['label']

In [62]:
# Grid Search over Random Forests

parameters = {'n_estimators':[100], 'max_depth':[6, int(X_train.shape[1] / 5)],
              'criterion':['gini']} #, 'min_samples_split':[5, 50]}

forest = RandomForestClassifier()
clf = GridSearchCV(forest, parameters, scoring='f1_weighted')
clf.fit(X_train,  y_train)

clf.best_params_

GridSearchCV(cv=None, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_estimators': [100, 200, 500], 'criterion': ['gini'], 'max_depth': [14, 29]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='f1_weighted', verbose=0)

In [31]:
# Random Forest

clf = RandomForestClassifier(n_estimators=100,
                             max_depth=int(8), # X_train.shape[1]*0.2
                             bootstrap=True,
                             max_features=0.5,
                             oob_score=True,
                             random_state=42)
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=8, max_features=0.5, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=True, random_state=42, verbose=0, warm_start=False)

In [206]:
# XGBoost

clf = xgboost.XGBClassifier(objective='multi:softprob',
                            eval_metric="rmse")
clf.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, eval_metric='rmse', gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='multi:softprob', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [32]:
# prediction

prediction = clf.predict(X_test)

target_names = ['class 0', 'class 1', 'class 2', 'class 3', 'class 4'] # 'class 0', 
print(classification_report(y_test, prediction, target_names=target_names))
print(confusion_matrix(y_test, prediction, labels=[0,1,2,3,4]))
print

# overfit testing

prediction_on_train = clf.predict(X_train)

target_names = ['class 0', 'class 1', 'class 2', 'class 3', 'class 4'] # 'class 0', 
print(classification_report(y_train, prediction_on_train, target_names=target_names))
print(confusion_matrix(y_train, prediction_on_train, labels=[0, 1,2,3,4]))

             precision    recall  f1-score   support

    class 0       0.45      0.57      0.51      2528
    class 1       0.33      0.42      0.37      2528
    class 2       0.33      0.34      0.34      2528
    class 3       0.31      0.12      0.17      2528
    class 4       0.42      0.44      0.43      2528

avg / total       0.37      0.38      0.36     12640

[[1452  563  205   74  234]
 [ 454 1059  540  140  335]
 [ 360  703  864  216  385]
 [ 479  552  631  307  559]
 [ 477  356  344  246 1105]]

             precision    recall  f1-score   support

    class 0       0.49      0.60      0.54     10284
    class 1       0.35      0.46      0.40     10284
    class 2       0.39      0.39      0.39     10284
    class 3       0.61      0.28      0.38     10284
    class 4       0.55      0.56      0.55     10284

avg / total       0.48      0.46      0.45     51420

[[6123 2249  844  243  825]
 [1735 4684 2136  500 1229]
 [1522 2741 4018  634 1369]
 [1764 2233 2112 2871 1304]
 [1429 1415 1293  436 5711]]

In [33]:
importances = pd.DataFrame(clf.feature_importances_.T, X_train.columns.T) #best_estimator_.
# importances = pd.DataFrame(clf.best_estimator_.feature_importances_.T, dataset.columns.T)

importances.sort_values(by=0, ascending=False)

                                              0
last_moth_class_count_0                0.222161
last_year_by_class_count_0             0.097839
last_moth_class_count_1                0.094419
last_year_by_class_count_4             0.059833
last_year_by_class_count_1             0.035464
last_moth_class_count_2                0.032419
last_year_by_class_count_2             0.025178
weekday_d---day_a                      0.015937
Flight                                 0.013375
airport_dep---Jet_type                 0.012038
last_moth_class_count_3                0.011774
Flight---Flight_type                   0.008963
day_a                                  0.008618
Flight---Jet_ID                        0.007511
day_d---Hour_d                         0.007358
last_year_that_month_by_class_count_0  0.007138
airport_arr---Jet_type                 0.006934
last_year_by_class_count_3             0.006381
Hour_d---weekday_d                     0.006379
Hour_d---day_a                         0.006236
day_d---weekday_d                      0.006037
Jet_ID---month_a                       0.005673
day_a---weekday_a                      0.005669
Hour_a---weekday_a                     0.005563
Flight---weekday_d                     0.005341
Flight---weekday_a                     0.005196
Jet_ID---day_a                         0.005146
Flight---Hour_d                        0.005108
Flight---month_d                       0.005025
airport_dep---airport_arr              0.004989
...                                         ...
month_d---weekday_d                    0.002406
Jet_type---weekday_a                   0.002404
Jet_type---month_a                     0.002399
airport_arr---weekday_a                0.002315
Jet_type---month_d                     0.002311
airport_arr---day_d                    0.002292
month_a---weekday_a                    0.002015
airport_arr---weekday_d                0.002015
month_d---weekday_a                    0.001839
Jet_type---weekday_d                   0.001656
airport_arr---month_a                  0.001647
airport_arr---month_d                  0.001615
Flight_type---day_d                    0.001600
Flight_type---Hour_d                   0.001555
last_year_that_month_by_class_count_3  0.001550
Hour_d                                 0.001185
day_d---day_a                          0.001058
Flight_type---day_a                    0.001057
last_year_that_month_by_class_count_4  0.000592
Flight_type---weekday_d                0.000497
Flight_type                            0.000435
Flight_type---weekday_a                0.000417
weekday_d---weekday_a                  0.000354
Flight_type---month_a                  0.000225
Flight_type---month_d                  0.000179
month_a                                0.000139
weekday_a                              0.000134
month_d                                0.000133
weekday_d                              0.000097
month_d---month_a                      0.000055

[120 rows x 1 columns]

In [152]:
print('OLD')
print test_mae
print train_mae

OLD
0.2907761082970052
0.2679155847112137

In [34]:
def MAE(clf, x_test, y_test):
    prediction = clf.predict_proba(x_test)
    real = np.zeros(prediction.shape)
    nsamples = prediction.shape[0]
    for i in range(nsamples):
#         real[i, y_test.iat[i]-1] = 1
        real[i, y_test.iat[i]] = 1

        
    return mean_absolute_error(real, prediction)


test_mae =  MAE(clf, X_test, y_test)
train_mae =  MAE(clf, X_train, y_train)

print test_mae
print train_mae

0.293403686887239
0.2841538477789994